.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Arrange cards horizontally */
  padding: 20px;
  gap: 25px; /* Space between cards */
}

.card-vision {
  flex-direction: column;
  justify-content: flex-start; /* Align items at the top */
  background-color: #2e2d2d;
  color: rgb(247, 247, 247);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(209, 206, 206, 0.3);
  text-align: center;
  transition: transform 0.3s ease;
  width: 600px !important;
  /* max-width:fit-content !important; */
  /* height: 300px !important; */
}

/* main h2 {
  color: aliceblue;
} */

.card-vision h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

.card-vision p {
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  padding-bottom: 10px;
}

.card-vision:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgb(195, 248, 1);
}

/* For better mobile experience */
@media (max-width: 768px) {
  .carousel {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .card-vision {
    width: 90%; /* Adjust card width for smaller screens */
    width: fit-content !important;
  }
}
